services:
  geoserver:
    image: kartoza/geoserver:2.25.0
    ports:
      - "8084:8080"
    environment:
      - GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
      - GEOSERVER_ADMIN_USER=admin
      - GEOSERVER_ADMIN_PASSWORD=geoserver
      - INITIAL_MEMORY=1G
      - MAXIMUM_MEMORY=4G
    volumes:
      - ./geoserver/data_dir:/opt/geoserver/data_dir
      - geodata:/geodata
    depends_on:
      - postgis
    restart: unless-stopped

  postgis:
    image: postgis/postgis:16-3.4
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=geoint
      - POSTGRES_USER=geoint
      - POSTGRES_PASSWORD=geoint_demo_2026
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgis/init-scripts:/docker-entrypoint-initdb.d
    restart: unless-stopped

  tileserver:
    image: maptiler/tileserver-gl:latest
    ports:
      - "8085:8080"
    volumes:
      - ./tileserver/styles:/data
    restart: unless-stopped

  frontend:
    image: nginx:alpine
    ports:
      - "8083:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - geoserver
      - tileserver
    restart: unless-stopped

volumes:
  pgdata:
  geodata:
